.Rproj.user
.Rhistory
.RData
.Ruserdata
/analysis2_cache
/analysis2_files
/data/interim
/mixture-models_cache
/mixture-models_files
/mixture-modelsv2_cache
/mixture-modelsv2_files
*.html
/dtw-cluster_cache
/dtw-cluster_files
/sim-abridged_cache
/sim-abridged_files
/sim_cache
/sim_files
/dtw-cluster-comp_cache
/dtw-cluster-comp_files
/data
*.adj
